@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef9f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
  }
}

body {
  background-color: var(--background);
}
